body {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    background-color: black;
}


.hero {
    display: block;
    background-color: rgb(38 35 27);
}

.game-intro {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/background/ironbros.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    align-items: self-end;
    justify-content: center;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.non-display {
    display: none;
}

#start-button {
    height: 75px;
    width: 250px;
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 225px;
    justify-content: center;
}

canvas {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}